/* general */

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: linear-gradient(
		45deg,
		var(--back-primary-color) 10%,
		var(--back-secundary-color) 50%
	);
}

.button {
	background-image: linear-gradient(
		85deg,
		var(--secundary-color),
		var(--primary-color)
	);
	padding: 12px;
	color: var(--back-primary-color);
	font-size: 1.1rem;
	letter-spacing: 3px;
	border-radius: var(--max-border-radius);
	border: none;
	font-weight: 600;
	text-transform: uppercase;
}

.button:hover {
	cursor: pointer;
	transition: 0.4s ease;
	background-image: linear-gradient(
		-85deg,
		var(--secundary-color),
		var(--primary-color)
	);
}

/* start display */

.start {
	padding: 20px;
	border-radius: var(--max-border-radius);
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.start h1 {
	font-size: 2.5rem;
	color: var(--medium-color);
}

.start h1 span:nth-of-type(1) {
	color: var(--primary-color);
}

.start h1 span:nth-of-type(2) {
	color: var(--secundary-color);
}

.start h1 span:nth-of-type(3) {
	color: var(--back-primary-color);
}

/* game display */

.game {
	width: 320px;
	height: 320px;
	display: grid;
	grid-template-columns: repeat(3, 33.33%);
	grid-template-rows: repeat(3, 33.33%);
}

.game .playing_area {
	border: 3px solid var(--secundary-color);
	cursor: pointer;
}

.game .playing_area:nth-child(1),
.game .playing_area:nth-child(2),
.game .playing_area:nth-child(3) {
	border-top: none;
}

.game .playing_area:nth-child(3),
.game .playing_area:nth-child(6),
.game .playing_area:nth-child(9) {
	border-right: none;
}

.game .playing_area:nth-child(7),
.game .playing_area:nth-child(8),
.game .playing_area:nth-child(9) {
	border-bottom: none;
}

.game .playing_area:nth-child(1),
.game .playing_area:nth-child(4),
.game .playing_area:nth-child(7) {
	border-left: none;
}

/* finish display */

.finish {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 20px;
}

.finish h1 {
	color: var(--secundary-color);
	text-shadow: 1px 1px 2px var(--primary-color);
	font-size: 2.5rem;
}

/* playing area */

.playing_area {
	display: flex;
	justify-content: center;
	align-items: center;
}

.playing_area svg {
	font-size: 4.5rem;
	fill: var(--secundary-color);
}

.playing_area svg path {
	stroke: var(--primary-color);
}

/* finish */

.finish h1 {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.finish h1 span svg {
	fill: var(--primary-color);
	font-size: 3.5rem;
}

.finish h1 span svg path {
	stroke: var(--primary-color);
}
