:root {
	--primary-color: #40ffdc;
	--secundary-color: #00a9d4;
	--medium-color: #1c3166;
	--back-secundary-color: #240047;
	--back-primary-color: #1c0021;
	--text-color: #eee;
	--button-border-radius: 5px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
	outline: none;
}
